<link rel="stylesheet" href="~/css/SignIn.css" asp-append-version="true" />

<div class="SignIn">
    <div class="SignIn_Main">
        <div><h1>다사모</h1></div>
        <div><h4>Sign IN</h4></div>
        <div>
            <span>ID</span>
            <input type="text" placeholder="ID">
            <span>PW</span>
            <input type="text" placeholder="PassWord">
            <input type="submit" value="Sign In">
        </div>
    </div>
</div>