<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>다사모</title>
    <link rel="icon" href="/images/MainIcon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LayoutMobile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DSM.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <div class="Layout_Header">
                <div>
                    <img src="/images/MainIcon.png" alt="" width="50px" style="margin-right: 7px;">
                    <h5>다사모</h5>
                </div>
                <input class="Layout_Side_Menu" type="checkbox" id="Layout_Side_Menu"/>
                <label class="Layout_Hamb" for="Layout_Side_Menu"><span class="Layout_Hamb_Line"></span></label>
                
                <div class="Layout_Nav">
                    <ul class="Layout_Menu">
                        <li>
                            <ul>
                            <span>대학생활도구</span>
                                <div>
                                    <li><span>시간표</span></li>
                                    <li><span>식단표</span></li>
                                    <li><span>과제 관리</span></li>
                                    <li><span>학기별 학점 계산기</span></li>
                                    <li><span>졸업 학접 계산기</span></li>
                                    <li><span>수강신청 시뮬레이션</span></li>
                                    <li><span>시간표 작성 계획</span></li>
                                </div>
                            </ul>
                        </li>
                        <li>
                            <ul>
                            <span>자료실</span>
                                <div>
                                    <li><span>시험족보</span></li>
                                    <li><span>PPT 템플릿</span></li>
                                    <li><span>논문 템플릿</span></li>
                                    <li><span>eBook 교과서</span></li>
                                    <li><span>전공 교수 평점 </span></li>
                                    <li><span>교양 교수 평점</span></li>
                                    <li><span>학생 평점</span></li>
                                </div>
                            </ul>
                        </li>
                        <li>
                            <ul>
                            <span>커뮤니티</span>
                                <div>
                                    <li><span>메모장</span></li>
                                    <li><span>X</span></li>
                                    <li><span>Instagram</span></li>
                                    <li><span>YouTube</span></li>
                                    <li><span>Laftel</span></li>
                                </div>
                            </ul>
                        </li>
                    </ul>
                    <input type="button" value="Sign In">
                </div>
            </div>
        </nav>
    </header>
    <div class="Layout_Main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="Layout_Footer">
            <div>
                <img src="/images/MainIcon.png" alt="" width="50px">
                <div>
                    <img src="/images/XIcon.png" alt="X" width="30px" style="margin: 7px;">
                    <img src="/images/InstaIcon.png" alt="Insta" width="30px" style="margin: 7px;">
                    <img src="/images/YoutubeIcon.png" alt="YouTube" width="30px" style="margin: 7px;">
                </div>
            </div>
            <div>
                <ul>
                    <li><h3>대학생활 도구</h3></li>
                    <li><span>시간표</span></li>
                    <li><span>식단표</span></li>
                    <li><span>과제 관리</span></li>
                    <li><span>학기별 학점 계산기</span></li>
                    <li><span>졸업 학접 계산기</span></li>
                    <li><span>수강신청 시뮬레이션</span></li>
                    <li><span>시간표 작성 계획</span></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><h3>자료실</h3></li>
                    <li><span>시험족보</span></li>
                    <li><span>PPT 템플릿</span></li>
                    <li><span>논문 템플릿</span></li>
                    <li><span>eBook 교과서</span></li>
                    <li><span>전공 교수 평점</span></li>
                    <li><span>교양 교수 평점</span></li>
                    <li><span>학생 평점</span></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><h3>커뮤니티</h3></li>
                    <li><span>메모장</span></li>
                    <li><span>X</span></li>
                    <li><span>Instagram</span></li>
                    <li><span>YouTube</span></li>
                    <li><span>Laftel</span></li>
                    <li><span></span></li>
                    <li><span></span></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
