<div class="TimeTable_Week_Card TimeTable_Week_Card_Drag" draggable="true">
    <div style="display: flex; width: 100%;">
        <h3>@Model.Time</h3>
    </div>
    <p>@Model.Period</p>
    <p>@Model.Memo</p>
</div>
