@{
    var TimeTableIndex = ViewData["TimeTableIndex"] as int? ?? 0;
}

<div class="TimeTable_Day_Card TimeTable_Day_Card_Drag" draggable="true">
    <h3>@TimeTableIndex 교시</h3>
    <p>@Model.SubjectName</p>
    <p>@Model.ProfessorName</p>
</div>
