.TimeTable_Day_Card{
    width: 31%;
    border: 1px solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1%;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    cursor: grab;
    user-select: none;
    transition: transform 0.2s;
}
.TimeTable_Day_Card  h3{
    font-size: 1.1em;
}
.TimeTable_Day_Card > p{
    margin: 0;
    font-size: 0.7em;
}
.TimeTable_Day_Card:active {
    cursor: grabbing;
    transform: scale(1.05);
}
.Day_Card_Add  h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.Day_Card_Add > p{
    margin-bottom: .25rem !important;
}
.TimeTable_Day_Card:not([class ~= 'Day_Card_Add']){
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}