.TimeTable_Week_Card{
    width: 12%;
    border: 1px solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1%;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    cursor: grab;
    user-select: none;
    transition: transform 0.2s;
}
.TimeTable_Week_Card h3{
    font-size: 1.1em;
}
.TimeTable_Week_Card > p{
    margin: 0;
    font-size: 0.7em;
}
.TimeTable_Week_Card:active{
    cursor: grabbing;
    transform: scale(1.05);
}
.Week_Card_Add h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.Week_Card_Add > p{
    margin-bottom: .25rem !important;
}
.TimeTable_Week_Card:not([class ~= 'Week_Card_Add']){
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}